
HTML{background-color: rgb(2, 59, 78);}
.Title {
    font-size: 3rem;
    color:white;
    position: relative;
    left: 40px;
    top: -20px;
}
footer {
    padding: 10px;
    border: solid #000000 2px;
    margin: 20px;
   overflow: hidden;  
   border-radius: 5px 5px 5px 5px;
}
header {

    margin: 20px;
   overflow: hidden;  
   border-radius: 5px 5px 5px 5px;
}
.body-wrapper {
    width: 90vw;

}
header {

    position: relative;
    float: left;
    width: 30%;
}
.NavBar {
    background-color: rgb(14, 101, 104);
    border: solid #000000 2px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 20px;
    letter-spacing: .5px;
    height: 453px;
    padding: 10px;
    margin: 15px;

    box-shadow: 0px 0px 40px darkblue; 
}
main {
    float: left;
    width: 60%;
}
footer {
    box-shadow: 0px 0px 40px darkblue;
    background-color: rgb(223, 75, 7);
}
.AboutRudson, .Hobbies {
    color:white;
    font-size: 1.25rem;
    position: relative;
    top: -20px;
    left: 40px;

}
.Teams, .Movies, .Anime {
    margin: 25px 0px;
    position: relative;
    float: left;
    left: -20px;
    background-color:whitesmoke;
    padding: 30px 20px 30px 20px;
    border: solid black 1px;
    border-radius: 10px;
    box-shadow: 10px; 
    text-transform: uppercase;
    list-style: none;
    box-shadow: 0px 0px 20px darkblue;
}

#Bio, #Action-Fav, #Fav-Team, #Anime-Fav {
    font-size: 1.25rem;
}

.PhotoBorder {
    position: relative;
    width: 90vw;
}
.Hobbies {
    position: relative;
    float: left;
    width: 30%;
    border: black;
    left: 40px;
}
.Photos {
    /* border-radius: 10px;
    background-color: darkblue;
    box-shadow: 4px 4px 4px black;
    height: 100%;
    width: 100%;
    padding: 20px;
    position: relative; */
}
.PoliticalScience, .AliensVsPreditor,.AugustaUniversity, .BadBoys, .Blade, .BobMarley, .MiamiDolphins, .DragonBallZ, .OnePiece, .MiamiHeat, .MiamiHurricanes, .OnePiece, .SuperHero {
    position: relative;
    width: 0%;
}
@keyframes slideshow {
    0% {
        background-image: url("AugustaUniversity.jpg");
    }
    9% {
        background-image: url("PoliticalScience.jpg");
    }
    18% {
        background-image: url("AliensVsPredator.jpg");
    }
    27% {
        background-image: url("BadBoys.jpg");
    }            
    36% {
        background-image: url("Blade.jpg");
    }
    45% {
        background-image: url("BobMarley.jpg");
    }
    54% {
        background-image: url("DragonBallZ.jpg");
    }
    63% {
        background-image: url("MiamiDolphins.jpg");
    }
    72% {
        background-image: url("MiamiHeat.jpg");
    }
    81% {
        background-image: url("MiamiHurricanes.jpg");
    }
    90% {
        background-image: url("OnePiece.jpg");
    }
    100% {
        background-image: url("SuperHero.jpg");
    }
}
.photos:hover .AugustaUniversity, .Photos {
    animation-name: slideshow;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    height: 30vh;
    animation-iteration-count: infinite;
    border-radius: 10px 10px 10px 10px;
    border: solid rgb(11, 54, 11) 2px;
}